*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:240px;
    background:#1f2937;
    color:white;
    padding:20px;
}

.sidebar h2{
    margin-bottom:30px;
    text-align:center;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:6px;
    margin-bottom:8px;
}

.sidebar a:hover{
    background:#374151;
}

/* Main */

.main{
    flex:1;
}

.navbar{
    background:white;
    padding:20px;
    box-shadow:0 2px 5px rgba(0,0,0,.1);
}

.content{
    padding:30px;
}

/* Toolbar */

.toolbar{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.toolbar input{
    padding:10px;
    width:250px;
}
button{

background:#2563eb;

color:white;

padding:10px 20px;

border:none;

border-radius:8px;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

background:#1d4ed8;

}

/* Form */

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.card input,
.card select{
    display:block;
    width:100%;
    padding:10px;
    margin:10px 0;
}

/* Table */

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

table th{
    background:#2563eb;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    text-align:center;
    border-bottom:1px solid #eee;
}

table tr:hover{
    background:#f8fafc;
}
