<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Departments</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <div class="sidebar">

        <h2>SMS</h2>

        <a href="/">🏠 Dashboard</a>
        <a href="/students.html">👨‍🎓 Students</a>
        <a href="/departments.html">🏢 Departments</a>
        <a href="/subjects.html">📚 Subjects</a>
        <a href="/attendance.html">📝 Attendance</a>
        <a href="/exams.html">🧪 Exams</a>
        <a href="/marks.html">📊 Marks</a>
        <a href="/fees.html">💰 Fees</a>

    </div>

    <div class="main">

        <div class="navbar">
            <h1>Department Management</h1>
        </div>

        <div class="content">

            <h2>Departments</h2>

            <div class="toolbar">

                <input
                    type="text"
                    id="searchBox"
                    placeholder="Search Department">

                <button onclick="searchDepartment()">
                    Search
                </button>

                <button id="addDepartmentBtn">
                    + Add Department
                </button>

            </div>

            <div id="departmentForm" style="display:none;" class="card">

                <h3>Add Department</h3>

                <input
                    type="text"
                    id="department_name"
                    placeholder="Department Name">

                <button id="saveBtn">
                    Save Department
                </button>

            </div>

            <table>

                <thead>

                    <tr>

                        <th>ID</th>
                        <th>Department Name</th>
                        <th>Actions</th>

                    </tr>

                </thead>

                <tbody id="departmentTable">

                </tbody>

            </table>

        </div>

    </div>

</div>
<script src="/static/js/auth.js"></script>
<script src="/static/js/departments.js"></script>

</body>

</html>